@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: white;
    background: rgba(255, 0, 0, 0.5);
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    font-family: 'Reddit Sans', sans-serif;
    position: relative;
}

@media screen and (max-width: 768px) {
  html, body {
    scroll-snap-type: none;
  }
}

.heading-text {
    font-family: 'BBH Bogle', serif;
}

.title-text {
    font-family: 'BBH Bartle', serif;
}

section {
    padding: 30px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-image-container {
    position: relative;
    width: calc(15rem + 10px);
    height: calc(15rem + 10px);
}

@property --gradangle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes gradient-anim {
    from {
        --gradangle: 0deg;
    }

    to {
        --gradangle: 360deg;
    }
}

.hero-image-wrapper {
    position: absolute;
    padding: 5px;
    width: calc(15rem + 10px);
    height: calc(15rem + 10px);
    transition: 0.3s;
    filter: blur(15px);
    scale: 0.9;
    background: conic-gradient(from var(--gradangle), #FF5F6D, #FFC371, #47CACC, #FF5F6D);
    animation-name: gradient-anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.hero-blog-wrapper {
    background-size: cover;
    height: min(80vh, 800px);
    flex-direction: row;
    background-position: center;
}

.hero-image {
    position: relative;
    top: 5px;
    left: 5px;
    width: 15rem;
    height: 15rem;
    background: black;
    transition: 0.3s;
    border-width: 1px;
    filter: grayscale(100%)
}

.hero-image-container:hover .hero-image {
    filter: grayscale(0);
}

section {
    height: 100vh;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 20px;
    z-index: 10;
}

.tile {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background: black;
    cursor: pointer;
    transition: 0.1s;
    border-width: 1px;
    background-size: cover;
    filter:grayscale(100%) brightness(0.75);
}

.tile:hover {
    filter:grayscale(0) brightness(1);
}

.icon-dark {
    border-radius: 50%;
    border: 0.5px solid white;
    padding: 8px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
}

.icon-light {
    border-radius: 50%;
    border: 0.5px solid black;
    padding: 8px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
}

.button-dark {
    border-radius: 9999px;
    border: 0.5px solid white;
    padding: 5px 7.5px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.button-light {
    border-radius: 9999px;
    border: 0.5px solid black;
    padding: 5px 7.5px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.button-dark:hover, .button-light:hover, .icon-dark:hover, .icon-light:hover {
    scale: 1.05;
    text-decoration: none;
}

.button-dark:hover, .icon-dark:hover {
    background: white;
    color: black;
    border: 0.5px solid black;
}

.button-light:hover, .icon-light:hover {
    background: black;
    color: white;
    border: 0.5px solid white;
}

.dark {
    background: black !important;
    color: white !important;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin: 50px 0;
    text-align: center;
}

.body-content a, .body-content a:visited {
    color: #00C8B4;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.body-content img {
    cursor: pointer;
    transition: 0.2s;
    max-height: 300px;
    object-fit: contain;
}

.body-content img:hover {
    scale: 1.03;
}

@media screen and (min-width: 900px) {
    .body-content {
        margin: 50px 15%;
    }
}