@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: white;
    background: black;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: 'Reddit Mono', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

section {
    padding: 30px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-image-container {
    position: relative;
    width: calc(20rem + 10px);
    height: calc(20rem + 10px);
}

@property --gradangle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes gradient-anim {
    from {
        --gradangle: 0deg;
    }

    to {
        --gradangle: 360deg;
    }
}

.hero-image-wrapper {
    position: absolute;
    padding: 5px;
    width: calc(20rem + 10px);
    height: calc(20rem + 10px);
    transition: 0.3s;
    filter: blur(30px);
    scale: 0.9;
    background: conic-gradient(from var(--gradangle), #00C8B4, #44F7D3, #88FFEB, #E6F3F0, #FFBB9D, #00C8B4);
    animation-name: gradient-anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.hero-blog-wrapper {
    background-size: cover;
    height: min(80vh, 800px);
    flex-direction: row;
}

.hero-image {
    position: relative;
    top: 5px;
    left: 5px;
    width: 20rem;
    height: 20rem;
    background: black;
    transition: 0.3s;
    border-width: 1px;
}

.hero-image-container:hover .hero-image-wrapper {
    scale: 1;
}

.hero-image-container:hover .hero-image {
    scale: 1.01;
}

@media screen and (min-width: 480px) {
    section {
        height: 100vh;
    }
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 20px;
}

.tile {
    width: 12rem;
    height: 12rem;
    background: black;
    cursor: pointer;
    transition: 0.1s;
    border-width: 1px;
    background-size: cover;
}

.tile:hover {
    scale: 1.05;
}

.icon {
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
}

.icon:hover {
    scale: 1.08;
    background: #00C8B4;
    color: #88ffeb;
    border: 1px solid #00C8B4;
}

.dark {
    background: black !important;
    color: white !important;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 50px 0;
    text-align: center;
}

.body-content a, .body-content a:visited {
    color: #00C8B4;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.body-content img {
    margin: 50px 0;
}

@media screen and (min-width: 600px) {
    .body-content {
        margin: 50px 200px;
    }
}